<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqFTnUZhP5BoG2JeY2fYo2ypFduthqT_VQNQ&usqp=CAU"
      cardTitle="Novo Homem de Ferro anunciado"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio odio cum architecto fuga. Vel illum dolores laboriosam sapiente officia reprehenderit tenetur quam? Laboriosam dolores quibusdam fugit doloremque necessitatibus optio asperiores."
    >
    </app-big-card>

    <app-big-card
      photoCover="https://images.unsplash.com/photo-1460881680858-30d872d5b530?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGZpbG1lc3xlbnwwfHwwfHx8MA%3D%3D"
      cardTitle="Veja a nova celebridade de HollyWood"
      cardDescription="HollyWood anuncia nova celebridade que irá participar do novo filme de ação 'THE LEGAN'"
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFydmVsfGVufDB8fDB8fHww"
      cardTitle="Saiu a nova versão do Angular"
    >
    </app-small-card>

    <app-small-card
      id="3"
      photoCover="https://images.unsplash.com/photo-1540959733332-eab4deabeeaf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGNpdHl8ZW58MHx8MHx8fDA%3D"
      cardTitle="China cria nova tecnologia"
    >
    </app-small-card>

    <app-small-card
      id="4"
      photoCover="https://images.pexels.com/photos/17542964/pexels-photo-17542964/free-photo-of-animais-bichos-asfalto-borrao.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
      cardTitle="Novas idéias par ter uma foto perfeita!"
    >
    </app-small-card>
  </div>
</div>
